<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/dashboard.css" />
</head>
<header class="topbar">
  <div class="topbar-inner">
    <div class="left">
      <span class="logo">AUTIZMUS MAXIMUS</span>
    </div>
    <div class="right">
      <button class="login">👤</button>
      <button class="logout"> <a href="/logout">Log Out</a></button>
    </div>
  </div>
</header>

<div class="coinstatcont">

  %for coin_id,data in box_el.items():
  <div class = "coinstat">
      {{data["name"]}}, {{data["price"]}}, {{data["change"]}}
  </div>
  % end

</div>

  






<body>
</body>
</html>