<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/dashboard.css" />
</head>
<header class="topbar">
  <div class="topbar-inner">
    <div class="left">
      <span class="logo">AUTIZMUS MAXIMUS</span>
    </div>
    <div class="right">
      <button class="login">👤</button>
      <button class="logout"> <a href="/logout">Log Out</a></button>
    </div>
  </div>
</header>

<div class="coinstatcont">

  %for coin_id,data in box_el.items():
  <div class = "coinstat">
      <button class="coin-select" onclick="location.href='/coin/{{coin_id}}'">
          <img src="{{data['logo']}}" class="coin-logo">
          <h1>{{data["name"]}}</h1>
          Price today: 
          %if 0 > data["change"]:
              <span style="color: rgb(255, 0, 0);">{{round(data["price"], 2)}}$ </span>
          % else:
              <span style="color: green;">{{round(data["price"], 2)}}$</span>
          % end
          <br>
          <label for="market-change">market change in the last 24h:</label>
          <progress class = "market-change" id="market-change" value="{{data['market_change'][list(data['market_change'].keys())[0]][0]}}" max="100"> </progress>

      </button>
  </div>
  % end

</div>

  






<body>
</body>
</html>