<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/static/login.css" />
</head>
<body>
<div class="login-box">
    <h2>Login</h2>
    <form method="post" action="/login">
        <div class="input-group">
            <input type="text" name = "email" placeholder="Email" required value="{{email or ''}}" />
        </div>
        % if error == 'Please enter a valid email address.':
            <p class="incorrect-input">{{error}}</p>
        % end
        % if error == 'No account found for this email.':
            <p class="incorrect-input">{{error}}</p>
        % end
        <div style="display: flex; align-items: center; gap: 8px; margin-bottom: 17px;">
            <div class="input-group" style="flex: 1; margin-bottom: 0;">
                <input type="password" name="password" placeholder="Password" value="{{password or ''}}" required id="Pass1"/>
            </div>
            <input type="checkbox" onclick="SeePass('Pass1')" style="width:16px; height:16px; margin:0; flex-shrink:0;">
        </div>
        % if error == 'Incorrect password.':
            <p class="incorrect-input">{{error}}</p>
        % end
        <button type="submit">Sign In</button>
    </form>
    <p class="register-text">Don't have an account? <a href="/register">Register</a></p>
</div>
<script>
    function SeePass(id) {
        var x = document.getElementById(id)
        if (x.type === "password"){
            x.type = "text";
        }
        else {
            x.type = "password"
        }
    }
</script>
</body>
</html>