body {
  margin: 0;
  background: #0b0e11;
  font-family: system-ui, sans-serif;
}

.topbar {
  height: 64px;
  background: linear-gradient(
    180deg,
    #181a20 0%,
    #14151a 100%
  );
  box-shadow: 0 1px 0 rgba(255,255,255,0.04);
}

.topbar-inner {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
}

.right button{
    margin-left: 12px;
}


.logo {
  color: #f0b90b;
  font-weight: 700;
  letter-spacing: 1px;
}

.login {
  background: none;
  border: none;
  color: #eaecef;
  margin-right: 12px;
  font-size: 25px;
  cursor: pointer;
}

.logout {
  background: #f0b90b;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
}

.coinstatcont {
  display: grid;
  grid-template-columns: 16% 16% 16% 16% 16%;
  background-color: none;
  padding: 10px;
}

.coinstat {
  background: none;
  padding: 8px 15px;
  font-weight: 50;
  font-size: medium;
  color: #f0b90b ;
}

.coinstat:hover {
  background: #f0b90b;
  color: #0b0e11;
  border-radius: 6px;
  cursor: pointer;
}

.coin-select {
  background: none;
  border: none;
  cursor: pointer;
  height: 100%;
  width: 100%;
  padding: 8px 15px;
  font-weight: 50;
  font-size: medium;
  color: #f0b90b ;
}

.coin-select:hover {
  background: #f0b90b;
  color: #0b0e11;
  border-radius: 6px;
  cursor: pointer;
}

.coin-logo {
  width: 30%;
  height: 30%;
  margin-right: 8px;
}

.coin-graph {
  display: block;
  margin: auto;
  background: none;
}

.market-change {
  width: 55%;
  height: 20px;
  background-color: red;
  border-radius: 0%;
}
.market-change::-webkit-progress-bar {
  background-color: red;
  border-radius: 0%;
  
}
.market-change::-webkit-progress-value {
  background-color: green;
  border-radius: 0%;
}

.transaction-history {
  background: none;
  color: #f0b90b;
  padding: 8px 15px;
  font-size: medium;
}
.transaction-history table {
  width: 16%;
  border-collapse: collapse;
  color: #f0b90b;
  font-size: small;
}

.transaction-history th, .transaction-history td {
  border: 1px solid #f0b90b;
  padding: 8px;
  text-align: left;
}

.type {
  color: #f0b90b;
}