* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url("back.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background: rgba(30, 30, 30, 0.85);
    padding: 40px 35px;
    width: 350px;
    border-radius: 16px;
    box-shadow: 0 8px 30px rgba(0,0,0,0.5);
    backdrop-filter: blur(10px);
    text-align: center;
}

.login-box h2 {
    margin-bottom: 25px;
    font-weight: 600;
    color: white;
    font-size: 28px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 12px 15px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    background: rgba(255,255,255,0.05);
    color: #fff;
    box-shadow: inset 0 2px 4px rgba(255,255,255,0.1);
    transition: all 0.3s ease;
}
.input-group input::placeholder {
    color: rgba(255,255,255,0.7);
}

.input-group input:focus {
    outline: none;
    background: rgba(255,255,255,0.1);
    box-shadow: 0 0 10px #4a77ff;
}


button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(90deg, #4a77ff, #335de3);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.4);
}

.register-text {
    margin-top: 18px;
    font-size: 14px;
    color: rgba(255,255,255,0.7);
}

.register-text a {
    color: #4a77ff;
    text-decoration: none;
    font-weight: 500;
}

.incorrect-input {
    margin-top: 18px;
    font-size: 14px;
    color: rgb(220, 53, 69);
}

.incorrect-input a{
    color: rgb(13, 110, 253);
    text-decoration: none;
    font-weight: 500;
}

.register-text a:hover {
    text-decoration: underline;
}
